* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(270deg, #e6dfca, #5fdaf0);
  min-height: 100vh;
  color: white;
  font-family: "Poppins", sans-serif;
}

header {
  font-size: 1.5rem;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 20vh;
}

form input,
form button {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #dd8d23;
  background: white;
  cursor: pointer;
  transition: all ease 0.3s;
}

form button:hover {
  color: white;
  background: #5fe65f;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style: none;
  min-width: 30vw;
}

.todo {
  background: white;
  color: gray;
  margin: 1rem;
  font-size: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all ease 0.5s;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.todo li {
  flex: 1;
}

/* TRASH MARK & CHECK MARK */
.check-mark {
  padding: 1rem;
  font-size: 1.5rem;

  border: none;
  color: white;
  background: rgb(62, 194, 9);

  cursor: pointer;
  transition: all ease 0.3s;
}

.check-mark:hover {
  background: yellowgreen;
}

.trash-mark:hover {
  background: #eb882c;
}

.trash-mark {
  padding: 1rem;
  font-size: 1.5rem;

  border: none;
  color: white;
  background: #e7562e;

  cursor: pointer;
  transition: all ease 0.3s;
}

.fa-minus,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(15deg);
  opacity: 0;
}
